<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>在线开发平台</title>
  <link href="./css/next.min.css" rel="stylesheet">
  <link href="./css/preview.css" rel="stylesheet">
  <link href="./css/routes.css" rel="stylesheet">
  <link href="./css/onlinecode.css" rel="stylesheet">

  <link href="./css/AlifdFusionUi.css" rel="stylesheet">
  <link href="./css/AlifdLayout.css" rel="stylesheet">
  <link href="./css/AlilcLowcodeMaterials.css" rel="stylesheet">
  <link href="./css/next-table.css" rel="stylesheet">
</head>

<body>
<div id="ice-container"></div>
<script>
  window.g_config = {
    locale: 'zh-CN',
  };
</script>
<script src="./js/react.production.min.js"></script>
<script src="./js/react-dom.production.min.js"></script>
<script src="./js/prop-types.js"></script>
<script src="./js/lodash.min.js"></script>
<script src="./js/moment.min.js"></script>
<script src="./js/next.min.js"></script>

<script src="./js/next-with-locales.min.js"></script>
<script src="./js/next-table.js"></script>
<script src="./js/AlilcLowcodeMaterials.js"></script>
<script src="./js/AlifdLayout.js"></script>
<script src="./js/AlifdFusionUi.js"></script>
<script src="./js/font_2535522_4oyyibdwj5v.js"></script>

<script type="text/javascript" src="./js/routes.js"></script>
</body>
</html>
