.djs-palette {
  width: 138px !important;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.djs-palette .entry:hover {
}

.djs-palette .djs-palette-entries {
  display: flex;
  flex-flow: wrap;
  width: 138px;
  padding-bottom: 10px;
}

.djs-palette .djs-palette-entries .group {
  display: flex;
  flex-flow: wrap;
  width: 138px;
}

.djs-palette .djs-palette-entries .group .entry {
  flex-grow: 0;
  margin: 0 0 24px 14px;
  border: solid 1px #ddd;
  position: relative;
}

.djs-palette .djs-palette-entries .group .title {
  flex-grow: 0;
  width: 138px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 4px 0 14px 0;
}

.djs-palette .djs-palette-entries .group .entry .label {
  width: 48px;
  font-size: 8px;
  position: absolute;
  bottom: -34px;
  left: 0;
}

.djs-popup, .djs-palette {
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #fff;
  box-shadow: 0 10px 16px 0 #ddd, 0 6px 20px 0 #ddd;
}
