#ice-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-user-select: auto;
  -webkit-user-drag: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

.fd-layout-page {
  height: 100%;
  min-height: auto !important;
}

.fusion-ui-pro-table-content .next-overlay-wrapper {
  position: absolute !important;
  z-index: 1000;
  right: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
}

.next-table td .next-table-cell-wrapper .next-icon-arrow-right.next-table-tree-arrow .next-icon-remote, .next-table td .next-table-cell-wrapper {
  display: flex;                /* 使用 flex 布局，将子元素放在一行 */
  align-items: center;          /* 垂直居中对齐 */

  > i {
    flex-shrink: 0;               /* 固定宽度，不允许缩小 */
  }

  > div {
    flex: 1;                      /* 占满剩余空间 */
    overflow: hidden;             /* 隐藏超出内容 */
    white-space: nowrap;          /* 禁止换行 */
    text-overflow: ellipsis;      /* 超出部分显示省略号 */
  }
}

.next-table td .next-table-cell-wrapper .next-icon-arrow-right.next-table-tree-arrow .next-icon-remote, .next-table td .next-table-cell-wrapper .next-icon.next-xs.next-table-tree-placeholder {
  width: 12px;
  margin-right: 8px;
}

.next-table td .next-table-cell-wrapper .next-icon-arrow-right.next-table-tree-arrow .next-icon-remote, .next-table td .next-table-cell-wrapper .next-table-tree-arrow:before {
  font-size: 8px !important;
  font-weight: 600;
}
